.images-auto-x2-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 844px;
  object-fit: cover;
}
.cadastro-child,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 386.75px;
  height: 844px;
}
.group-child {
  border-radius: 12px;
  background-color: #1f232d;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
  width: 342px;
  height: 733px;
}
.criar-conta,
.ou- {
  position: absolute;
  top: 83px;
  left: 102px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
}
.ou- {
  top: 202px;
  left: 118px;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.bank-control,
.neter {
  position: absolute;
  top: 0;
  left: 32.97px;
}
.bank-control {
  left: 108.19px;
  font-weight: 300;
  text-align: center;
}
.logo,
.logo-child {
  position: absolute;
  top: -2.4px;
  left: -2.04px;
  width: 31.61px;
  height: 37.49px;
}
.logo {
  top: 20px;
  left: 35px;
  width: 256.19px;
  height: 33px;
  font-size: 27.25px;
  font-family: Lato;
}
.image-3-icon {
  position: relative;
  border-radius: 6.65px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.continue-com-google {
  position: relative;
  font-weight: 500;
}
.buttonsecondarylongwith-ico {
  position: absolute;
  top: 137px;
  left: 24px;
  border-radius: 8px;
  background-color: #1f232d;
  border: 2px solid #5cebd3;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 12px 61px 12px 56px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: center;
  font-size: 16px;
}
.label {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.input-text {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.cursor {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #0d8d67;
  width: 1px;
}
.ursor-right {
  position: relative;
  width: 1px;
  height: 24px;
  display: none;
}
.label-input-text,
.text-cursor {
  display: flex;
  justify-content: flex-start;
}
.text-cursor {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
.label-input-text {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.buttonprimarytextno-icon,
.buttonprimarytextno-icon1,
.buttonprimarytextno-icon2,
.buttonprimarytextno-icon3 {
  position: absolute;
  top: 231px;
  left: 24px;
  border-radius: 8px;
  background-color: #1f232d;
  border: 2px solid #5cebd3;
  box-sizing: border-box;
  width: 294px;
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  align-items: center;
  justify-content: center;
}
.buttonprimarytextno-icon1,
.buttonprimarytextno-icon2,
.buttonprimarytextno-icon3 {
  top: 320px;
}
.buttonprimarytextno-icon2,
.buttonprimarytextno-icon3 {
  top: 409px;
}
.buttonprimarytextno-icon3 {
  top: 498px;
}
.buttonprimarylongno-iconde,
.iconcheckboxunfilled {
  position: absolute;
  background-color: #5cebd3;
  box-sizing: border-box;
}
.buttonprimarylongno-iconde {
  top: 632.36px;
  left: 72px;
  border-radius: 8px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 12px 64px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #2f374a;
}
.iconcheckboxunfilled {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3.39px;
  border: 3.4px solid #5cebd3;
}
.check-solid-2-icon {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 7.14%;
  right: 8.33%;
  bottom: 9.52%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check {
  position: relative;
  width: 20.36px;
  height: 20.36px;
}
.checkbox,
.remember-me {
  position: absolute;
  display: flex;
  align-items: center;
}
.checkbox {
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
}
.remember-me {
  width: calc(100% - 24.36px);
  top: calc(50% - 5.18px);
  left: 24.36px;
  line-height: 16px;
  font-weight: 500;
  height: 11px;
}
.checkbox-parent {
  position: absolute;
  top: 582px;
  left: 24px;
  width: 105.36px;
  height: 20.36px;
  font-size: 12px;
}
.j-tem-uma,
.login {
  position: absolute;
  top: 0;
  left: 107px;
  line-height: 16px;
  font-weight: 500;
}
.j-tem-uma {
  left: 0;
  color: #fff;
}
.login-parent {
  position: absolute;
  top: 697px;
  left: 103px;
  width: 137px;
  height: 16px;
  font-size: 12px;
  color: #5cebd3;
}
.rectangle-parent {
  position: absolute;
  top: 55px;
  left: 24px;
  width: 342px;
  height: 733px;
}
.cadastro {
  position: relative;
  background-color: #1f232d;
  width: 390px;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
